[Unit]
Description=ReefRecon UI web app
After=network.target sound.target

[Service]
Type=simple
User=reefrecon
WorkingDirectory=/home/reefrecon/ReefRecon_UI
ExecStart=/home/reefrecon/ReefRecon_UI/venv/bin/python3 app.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
